<footer id="site-footer" class="site-footer site-footer-h3 bg-footer">
    <div class="main-footer main-footer-h3">
        <div class="container-custom">
            <div class="row">

                <div class="col-md-3 col-sm-6">
                    <div class="widget-footer">
                        <div id="media_image-1" class="widget widget_media_image">
                            <a href="index.html"><img src="images/logo.png" alt=""></a>
                        </div>
                        <div id="custom_html-1" class="widget_text widget widget_custom_html">
                            <div class="textwidget custom-html-widget">
                                <p class="text-danger"><b>Trumix Industries ©<span id="current-year"></span> . All
                                        Rights Reserved</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col-lg-3 -->


                <div class="col-md-3 col-sm-6">
                    <div class="widget-footer">
                        <div id="custom_html-2" class="widget_text widget widget_custom_html padding-left">
                            <div class="textwidget custom-html-widget">
                                <h4>Our Products</h4>
                                <ul>
                                    <li><a href="products.html">TRU Armoured Joints™</a></li>
                                    <li><a href="products.html">TRU Dowel Plates™</a></li>
                                    <li><a href="products.html">TRU PolyWRAPTM LDPE sheets</a></li>
                                    <li><a href="products.html">NEXACRETE™ Floor Hardener</a></li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col-lg-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="widget-footer">
                        <div id="custom_html-3" class="widget_text widge widget-footer widget_custom_html padding-left">
                            <div class="textwidget custom-html-widget">
                                <h4>Quick Links</h4>
                                <ul>
                                    <li><a href="about-us.html">About us</a></li>
                                    <li><a href="contact-us.html">Contact us</a></li>
                                    <li><a href="products.html">Services</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end col-lg-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="widget-footer">



                        <div class="footer-social ot-socials bg-white">
                            <p>Designed By<a href="https://anigrapix.com/" target="_blank"><b>Anigrapix Designs &
                                        Software</b></a></p>
                        </div>
                    </div>
                </div>
                <!-- end col-lg-3 -->

            </div>
        </div>
    </div>
    <!-- .main-footer -->
    <div class="footer-bottom footer-bottom-h3">
        <div class="container-custom">
            <div class="row">
                <div class="col-md-12">
                    <ul class="topbar-left">
                        <li><i class="icon ion-md-pin"></i>Chennai,Tamil Nadu,India</li>
                        <li><i class="icon ion-md-call"></i>+919342218345</li>
                        <li><i class="icon ion-md-mail"></i>trumixindustries@gmail.com</li>
                    </ul>
                    <a id="back-to-top" href="#" class="btn btn-back-to-top show pull-right">Back to top<i
                            class="icon ion-ios-arrow-dropup-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- .copyright-footer -->
</footer>