<header id="site-header-2" class="site-header-2 header-style-1 md-hidden sm-hidden">
    <div class="container-custom">
        <div class="top-header-2">
            <div class="logo-brand">
                <a href="index.html"><img src="images/logo.png" alt="industris"></a>
            </div>
            <div class="header-info-2">
                <ul>
                    <li><i class="icon ion-md-pin"></i> Chennai,Tamil Nadu,India</li>
                    <li><i class="icon ion-md-call"></i>+919342218345</li>
                    <li><i class="icon ion-md-mail"></i>trumixindustries@gmail.com</li>
                </ul>
            </div>
            
            <div class="header-btn-2"><a href="#" class="btn btn-primary">Get a quote<i class="icon ion-md-paper-plane"></i></a></div>
        </div>
    </div>

    <div class="navigation-2">
        <div class="container-custom">
            <div class="main-navigation navigation-style-2">
                <ul id="primary-menu" class="menu">
                    <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent"><a href="index.html">Home</a>		    					
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="about-us.html">About Us</a>
                        
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="products.html">Products</a>
                        
                    </li>
                    
                    <li class="menu-item menu-item-has-children"><a href="gallery.html">Gallery</a>
                    
                    </li>
                    <li class="menu-item menu-item-has-children"><a href="contact-us.html">Contact Us</a>	      	

                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>

<header id="site-header" class="site-header header-style-1">
    <!-- Mobile header start -->
    <div class="mobile-header">
        <div class="container-custom">
            <div class="row">
                <div class="col-xs-6">
                    <div class="logo-brand-mobile logo-brand-mobile-2">
                        <a href="index.html"><img src="images/logo-blue.png" alt="industris"></a>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div id="mmenu_toggle">
                        <button></button>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="mobile-nav">
                        <ul id="primary-menu-mobile" class="mobile-menu">
                            <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent"><a href="index.html">Home</a>		        					
                            </li>
                            <li class="menu-item menu-item-has-children"><a href="about-us.html">About Us</a>
                                </li>
                                    
                            <li class="menu-item menu-item-has-children"><a href="products.html">Products</a>
                                
                            </li>
                            
                            <li class="menu-item menu-item-has-children"><a href="gallery.html">Gallery</a></li>
                            <li class="menu-item menu-item-has-children"><a href="contact-us.html">Contact Us</a>	      				</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
